.container {
  --background: linear-gradient(to left, #00e1c746 0%, #88fff914 100%);
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 20%;
  max-width: 1200px;
  height: 500px;
border-radius: 10px;
}

.container img {
  max-width: 790px;
  max-height: 500px;
  margin-top: 40px;
}

.detalles {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.detalles button {
  margin-left: 20px;
  justify-content: space-between;
  width: 130px;
  height: 40px;
  left: 86%;
  margin-top: 70px;
  background-color: #016565;
  color: white;
  transition: all .4s;

}



.detalles button:hover {
  text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  backface-visibility: hidden;
}


.detalles p {
  padding-top: 10px;
  display: flex;
}

.contact {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
}






 