.card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #D8EBEF;
    border-radius: 20px;
  }
  
  .cardContainerImage img{
  width: 400px;
  height: 200px;
  border-radius: 15px;
  }
  
  .containerSection h2{
    font-size: 30px;
    font-weight: 500;
  }
  .containerSection p{
    font-size: 20px;
    font-weight: 300;
  }
  .footerSection{
    margin-top: 50px;
    text-align: start;
  }