.UserDetailC{
background-color: #d8ebef;
display: grid;
grid-template-columns: 1fr 4fr;
text-align:center;
width: 100%;
height: 100vh;
}
.divForm{
    display: grid;
grid-template-columns: 1fr 1fr;

}

.labels{
    margin-bottom: 24px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    font-size: 40px;
    align-items: center;
    justify-content:center;
}

.inputs{
    text-align: left;
    font-weight: bold;
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: 320px;
    font-size: 30px;
}

.ps{
margin-left:none;
}



.barra{
    border-radius: 5px;
    background-color: #258f7a;
    text-align: center;
    font-size: 25px;
    align-items:center;
    justify-content: start;
    color: aliceblue;
}
.libarra{
    font-size: 25px;
    padding: 30px 5px;
    font-weight: bold;
}

.libarra:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.16);
    font-size: 25px;
    padding: 30px 5px;
}

.UserDetail{
    font-weight: bold;
align-items:center;
text-align: center;
}

.Username{
   
    align-items:left;
text-align:left;
    font-weight: bold;
    font-size: 25px;
     color: rgb(0, 0, 0);
}

.Userlastname{
    align-items:left;
    text-align:left;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.Usermail{ 
    align-items:left;
    text-align:left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.campo{
    font-weight: bold;
    background: none;
    text-align:left;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 5px rgb(0, 0, 0);
    color: black;
}
.campo2{
    margin-right: 100px;
   margin-bottom: 10px;
    font-weight: bold;
    background: none;
    text-align:left;
    border-radius: 6px;
    outline: 2px solid #004d36;
    color: black;
}

.Userpassword{
    display: grid;
    grid-template-rows: 1fr;
    font-weight: bold;
    font-size: 18px;
}
.Changepassword{
   margin-left: 10px;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 35px;
    background-color: #258f7a;
    border-radius: 5px;
}
.passwordselect{
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
font-weight: bold;
font-size: 25px;
color: #ffffff;
text-shadow: 3px 3px 4px rgb(0, 0, 0);
}
.labpass{
margin-left: 200px;
}

.buttonspass{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.cancelbutton{ 
    margin-top: 20px;
    margin-left: 600px;
    width: 90px;
background-color: rgb(182, 0, 0);
color: aliceblue;
border-radius: 5px;
}
.cancelbutton:hover{
    border-radius: 5px;
    background-color:rgb(255, 0, 0);
}
.submitbutton{
    margin-top: 20px;
   width: 200px;
background-color: rgb(0, 141, 108);
color: aliceblue;
border-radius: 5px;
}

.submitbutton:hover{
    border-radius: 5px;
    background-color:rgb(0, 195, 150);
}

.cancelbutton{ 
    margin-top: 20px;
    margin-left: 700px;
    height: 50px;
    margin-right: 15px;
    width: 90px;
background-color: rgb(182, 0, 0);
color: aliceblue;
border-radius: 5px;
}
.cancelbutton:hover{
    border-radius: 5px;
    background-color:rgb(255, 0, 0);
}
.submitbutton{
    height: 50px;
    margin-top: 20px;
   width: 200px;
background-color: rgb(0, 141, 108);
color: aliceblue;
border-radius: 5px;
}

.submitbutton:hover{
    border-radius: 5px;
    background-color:rgb(0, 178, 137);
}


.databutton{
    margin-top: 20px;
    margin-left: 620px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color:rgb(0, 144, 110);
    color: aliceblue;
}

.databutton:hover{
    border-radius: 10px;
    background-color:rgb(0, 176, 135)
}



.inputgroup{
 align-items:center;
    text-align: center;
 
}

.newpass{
     align-items:center;
    text-align: center;
}

.confirmpass{
     align-items:center;
    text-align: center;

}

.changepass{
     align-items:center;
    text-align: center;

}
.img{
    margin-left: 200px;
    align-items:center;
    text-align: center;
}
.archivoselect{
    margin-left: 450px;
    width: 400px;
    border-radius: 10px;
    background-color:rgb(0, 144, 110);
    color: aliceblue;
    margin-top: 20px;
    align-items:center;
text-align: center;
font-size: 30px;
 font-weight: bold;
}
.input2{
    margin-left:50px;
    font-size: 20px;
    margin-top: 20px;
    align-items:center;
    text-align: center;
     font-weight: bold;
}
.message{
    align-items:center;
    text-align: center;
}

