.UserDetailC{
background-color: #d8ebef;
display: grid;
grid-template-columns: 1fr 4fr;
text-align:center;
width: 100%;
height: 100vh;
}
.divForm{
    width: 800px;
    margin: 0 auto;
}
.labels{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    gap:5px;
    font-size: 30px;
    align-items: center;
    justify-content:start;
    text-align: start;
}
.img{

    width: 800px;
    margin: 20px auto;
}
.btnSave{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.inputs{
    text-align: left;
    font-weight: bold;
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: 320px;
    font-size: 30px;
}
.barra{
    border-radius: 5px;
    background-color: #258f7a;
    text-align: center;
    font-size: 25px;
    align-items:center;
    justify-content: start;
    color: aliceblue;
}
.libarra{
    font-size: 25px;
    padding: 30px 5px;
    font-weight: bold;
}

.libarra:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.16);
    font-size: 25px;
    padding: 30px 5px;
}
.Username{
   
    align-items:left;
text-align:left;
    font-weight: bold;
    font-size: 25px;
     color: rgb(0, 0, 0);
}

.Userlastname{
    align-items:left;
    text-align:left;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.Usermail{ 
    align-items:left;
    text-align:left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.campo{
    text-align:left;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 5px rgb(0, 0, 0);
    color: black;
}
.campo2{
    text-align:left;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 5px rgb(0, 0, 0);
    color: black;
    padding: 5px;
}

.Userpassword{
    width: 800px;
    margin: 20px auto;
}
.Changepassword{
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 35px;
    background-color: #258f7a;
    border-radius: 5px;
}
.passwordselect{
    padding: 12px;
font-weight: bold;
font-size: 25px;
color: #ffffff;
text-shadow: 3px 3px 4px rgb(0, 0, 0);
}
.labpass{
    font-size: 20px;
    font-weight: 700;
}

.buttonspass{
    display: flex;
    gap: 10px;
}

.cancelbutton{
    padding: 10px;
    background-color: rgb(182, 0, 0);
    color: aliceblue;
    border-radius: 5px;
}
.cancelbutton:hover{
    border-radius: 5px;
    background-color:rgb(255, 0, 0);
}
.submitbutton{
    padding: 10px;
background-color: rgb(0, 141, 108);
color: aliceblue;
border-radius: 5px;
}

.submitbutton:hover{
    border-radius: 5px;
    background-color:rgb(0, 195, 150);
}


.databutton{
    margin:10px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(0, 144, 110);
    color: aliceblue;
}

.databutton:hover{
    border-radius: 10px;
    background-color:rgb(0, 176, 135)
}



.inputgroup{
 align-items:center;
    text-align: center;
 
}

.newpass{
     align-items:center;
    text-align: center;
}

.confirmpass{
     align-items:center;
    text-align: center;

}

.changepass{
     align-items:center;
    text-align: center;

}

.archivoselect{
    background-color:rgb(0, 144, 110);
    color: aliceblue;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
.input2{
    margin-left:50px;
    font-size: 20px;
    margin-top: 20px;
    align-items:center;
    text-align: center;
     font-weight: bold;
}
.message{
    align-items:center;
    text-align: center;
}

.divForm label{
    font-weight: 700;
}

.containerPass{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
}