/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
} */

body {
  color: black;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-4 py-2 text-white bg-blue-900 rounded-md hover:bg-blue-700 transition duration-300;
}

.btn-secondary {
  @apply px-4 py-2 text-gray-700 bg-gray-100 rounded-md hover:bg-gray-300 transition duration-300;
}

.btn-tertiary {
  @apply px-4 py-2 text-red-500 bg-transparent border-2 border-red-500 rounded-md hover:text-white hover:bg-red-500 transition duration-300;
}
