* {
  margin: 0;
  padding: 0;
  font-family: "Inter var", sans-serif;
}
/* .Home_container{
  background-color: rgba(180, 255, 255, 0.415);
} */

.carpicture {
  background-image: url("../../img/carPhotoc.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 370px;
  position: relative;
}

.carpicture h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 499px;
  transform: translate(-11%, -50%);
  z-index: 1;
  font-size: 32px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.801);
  font-family: "Montserrat Subrayada", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.banner {
  display: flex;
  height: 190px;
  margin-top: 25px;
  justify-content: space-around;
}
