.wrapper {
  position: relative;
  height: 500px;
  width: 1000px;
  perspective: 1000px;
}

.wrapper .flip-card {
  position: relative;
  height: 100%;
  width: 100%;
  background: #d8ebef;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.wrapper .flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card .card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 1000px;
  background: #d8ebef;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  position: absolute;
}

.container_about {
  height: 500px;
  flex-shrink: 0;
  background: #d8ebef;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_about h2 {
  margin-top: 70px;
}

.card span.circle,
.card span.square {
  height: 110px;
  width: 110px;
  border: 10px solid #4d2600;
}

.card span.circle {
  border-radius: 50%;
}

.card span.triangle {
  position: relative;
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 110px solid #4d2600;
  margin-right: 16px;
}

.card span.triangle::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: -40px;
  top: 20px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 80px solid #d48600;
}

.back.card {
  transform: rotateY(180deg);
  display: flex;
}

.back.card .home-logo {
  position: relative;
  height: 65px;
  width: 65px;
  border: 5px solid #4d2600;
  border-radius: 50%;
  margin-right: 16px;
}

.home-logo .icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(6px);
  display: inline-block;
  height: 15px;
  width: 25px;
  background: #4d2600;
}

.home-logo .icon::before {
  content: "";
  position: absolute;
  top: -15px;
  height: 25px;
  width: 25px;
  background: #4d2600;
  transform: rotate(45deg);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px 50px;
  max-width: 900px;
}

.cards {
  flex: 1 1 calc(50% - 1px);
  max-width: calc(25% - 60px);
  background: #07182e;
  border-radius: 0.366vw;
  color: #f0f0f0;
  font-family: Fira Code, monospace;
  height: 12em;
  width: 20em;
  text-align: center;
  z-index: 99;
}

.cards img {
  align-items: center;
  background-color: #07182e;
  border: 0.5px solid #f0f0f0;
  display: flex;
  font-size: 11px;
  height: 60px;
  width: 60px;
  justify-content: center;
  margin: 12px auto 7px;
  transition: all 0.5s;
  z-index: 99;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  line-height: 1;
  overflow: hidden;
  user-select: none;
}

.icon-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cards:hover .icon-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.icon-button {
  background: none;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;
  outline: none;
}

.car-image {
  width: 800px;
  left: 800px;
}

/* Estilo para el botón "More Information!" */
.container_about button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #016565;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: -50px;
  z-index: 0;
}

.container_about button:hover {
  background-color: #e1aca2;
  z-index: 0;
}
.button-more {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #016565;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: -50px;
  z-index: 1;
}
.button-more:hover {
  background-color: #e1aca2;
  z-index: 1;
}
.container_secondLayer {
  border-radius: 10px;
  background-color: #d8ebef;
  padding: 20px;
  width: 800px;
  height: 500px;
}
.container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.happy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.box_container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .wrapper {
    height: 300px;
    width: 90%;
  }
  .cards-container {
    gap: 20px; /* Reduce el espacio entre tarjetas */
  }
  .cards {
    flex: 1 1 calc(50% - 20px); /* Ajusta el tamaño de las tarjetas en pantallas más pequeñas */
  }
}

/* Media Query para pantallas aún más pequeñas */
@media (max-width: 480px) {
  .wrapper {
    height: 200px;
  }
  .cards {
    width: 90%; /* Ajusta el tamaño de las tarjetas en pantallas muy pequeñas */
  }
  .container_about {
    padding: 10px; /* Reduce el padding del contenedor de información */
  }
  .box_container {
    flex-direction: column; /* Coloca las cajas una encima de la otra en pantallas muy pequeñas */
  }
  .box_container a {
    margin-bottom: 20px; /* Agrega espacio entre las cajas en pantallas pequeñas */
  }
}
