.container {
  display: flex;
  margin-bottom: 20px;
  background-color: rgba(137, 192, 209, 0.276);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cart {
  width: 50px;
  left: 87%;
  transition: 0.2s;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.popup p {
  margin: 0;
}

.imageCointainer {
  padding: 10px;
  width: 200px;
  height: 150px;
  margin-right: 50px;
  border-radius: 20px;
}

.p {
  font-weight: bold;
}
.celler {
  margin-top: 30px;
}

.Link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.button {
  width: 130px;
  height: 50px;
  left: 86%;
  background-color: #007777;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
}

.button:hover {
  background-color: #016565;
  text-shadow: -0px 4px 3px rgb(0, 0, 0);
  backface-visibility: hidden;
}
.imageCointainer {
  min-height: 225px;
  min-width: 300px;
}

.carName {
  color: #16167c;
  font-size: 30px;
}

.iconsContainer {
  display: grid;
}
