.container {
  display: flex;
  margin-bottom: 20px;
  background-color: rgba(137, 192, 209, 0.276);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cart {
  width: 50px;
  position: absolute;
  left: 87%;
  margin-top: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.popup p {
  margin: 0;
}
.imageCointainer {
  width: 220px;
  height: 150px;
  margin-right: 50px;
  border: none;
  border-radius: 10px;
}
.p {
  font-weight: bold;
}
.celler {
  margin-top: 30px;
}
.Link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.button {
  width: 130px;
  height: 50px;
  position: absolute;
  left: 86%;
  margin-top: 70px;
  background-color: #007777;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
}

.button:hover {
  background-color: #016565;
  text-shadow: -0px 4px 3px rgb(0, 0, 0);
  backface-visibility: hidden;
}
