.container_Recommended {
  margin-left: 10px;
}
.container_cardsHome {
  margin-left: 30px;
  margin-top: 70px;
  display: flex;

  flex-wrap: wrap;
}
.container_Recommended h2 {
  margin-left: 40px;
  margin-top: 60px;
  font-weight: 700;
}
