.container-find {
  width: 350px;

  text-align: center;
}
.container-find button {
  margin-top: 10px;
  width: 400px;
  height: 50px;
  color: white;
  border: none;
  background-color: #016565;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.container-find button:hover {
  background-color: #e1aca2;
}
.container-find p {
  margin-left: 50px;
  margin-bottom: 10px;
}
.container-find h1 {
  margin-left: 5px;
  width: 400px;
  margin-bottom: 10px;
}
