.container-find {
  width: 800px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #D8EBEF;
}
.container-find button {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  background-color: #016565;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.container-find button:hover {
  background-color: #e1aca2;
}
.container-find p {
  margin: 10px;
}
.container-find h1 {
  margin: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
