.search{
    align-items: center;
    margin-top: 5px;
    text-align: center;
  }
  
  
  
  .input {
    text-align: center;
    background: none;
    height: 30px;
    transition: all .4s;
      border-radius: 15px;
      outline: 2px solid #003f82;
      border: 0;
      background-color: #49adff00;
      outline-offset: 3px;
      padding: 5px 0.8rem;
      transition: 0.25s; 
      backface-visibility: hidden;
      color: #ffffff;
      font-size: 20px;
    }
    
    .input:focus {
      outline-offset: 5px;
      background-color: #56d6d600;
      backface-visibility: hidden;
      box-shadow: 0px 0px 10px #69ffe19b;
      text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
    }
  
  
  
    .input::placeholder {
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
  
    .input:hover {
      box-shadow: 0px 0px 10px #69ffc68d;
      text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      backface-visibility: hidden;
  }

  .button{
    margin-left: 20px;
    text-align: center;
    background: none;
    height: 40px;
    transition: all .4s;
      border-radius: 15px;
      outline: 2px solid #003f82;
      border: 0;
      background-color: #49adff00;
      outline-offset: 3px;
      padding: 5px 0.8rem;
      transition: 0.25s; 
      backface-visibility: hidden;
      color: #ffffff;
      font-size: 20px;
  }




  .button::placeholder {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

  .button:hover {
    box-shadow: 0px 0px 10px #69ffc68d;
    text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    backface-visibility: hidden;
}