.input-container--dropdown {
  display: flex;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  padding: 5px;
  background-color: #e1aca21e;
  font-size: 14px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  margin: 5px;
}
.input-container--dropdown select {
  width: 200px;
  height: 24px;
  padding: 5px;
  border: none;
}

.input-container--dropdown label {
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}
.container_filters {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}
.secondlayer {
  display: flex;
  margin-left: 20px;
}
.pricerselector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1aca21e;
}
.pricerselector input[type="range"] {
  margin: 20px;
  width: 150px;
}

.pricerselector button {
  padding-left: 30px;
  padding-right: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #016565;
  color: white;
  border: none;
}
.pricerselector label {
  margin-left: 20px;
}
