.containerFilters{
  display: flex;
  flex-direction: column;
  background-color: rgba(137, 192, 209, 0.276);
  height: 400px;
}
.containerSelects{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.divSelect{
  margin: 10px;
  display: grid;  
  grid-template-columns: 1fr;
}
.divSelect select{
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}

.priceSelector{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 10px;
  align-items: center;
  justify-content: center;
}
.inputRange{
  width: 120px;
  padding: 10px;
  border-radius: 10px;
}
.labelContainer{
  display: flex;
  flex-direction: column;
}
.labelContainer label{
  margin-top: 5px;
}
.divButtonFilter{
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px auto;
}
.divButtonFilter button{
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  background-color: #007777;;
  color: aliceblue;
  transition: 0.3s;
}
.divButtonFilter button:hover{
  cursor: pointer;
  background-color: #016565;
  text-shadow: -0px 4px 3px rgb(0, 0, 0);
  backface-visibility: hidden;
}
.containerFilters label{
  font-weight:500
}