.containerFilters {
  display: flex;
  flex-direction: column;
  background-color: rgba(177, 233, 252, 0.276);
  width: 80%;
}

.divSelect {
  margin: 10px;
  display: grid;

}
.divSelect select {
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.priceSelector {
  margin: 20px 10px;
  align-items: center;

}
.divRange{
  display: grid;
  height: 100;
}
.inputRange {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.labelContainer {

  
}
.labelContainer label {
  
  margin-left: px;
}
.divButtonFilter {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px auto;
}
.divButtonFilter button {
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  background-color: #007777;
  color: aliceblue;
  transition: 0.3s;
}
.divButtonFilter button:hover {
  cursor: pointer;
  background-color: #016565;
  text-shadow: -0px 4px 3px rgb(0, 0, 0);
  backface-visibility: hidden;
}
.containerFilters label {
  font-weight: 500;
}
.margin{
  margin-right: 10px;
}