.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0.5em;
  background: none;
}
.paginationItem {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgb(0, 0, 0);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 22px;
  min-width: 32px;
  cursor: pointer;
  font-weight: bold;
}
.paginationItem:hover {
  background-color: rgba(129, 255, 234, 0.407);
}
.paginationItem.selected {
  background-color: rgba(129, 255, 234, 0.407);
}
.paginationItem.disabled {
  pointer-events: none;
  color: rgba(0, 0, 75, 0.514);
}
