.container {
  width: 300px;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(1, 101, 101, 0.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease;
}
.container img {
  width: 300px;
  height: 220px;
  border-radius: 10px;
}
.container h2 {
  margin-top: 10px;
  margin-left: 15px;
  text-decoration: none;
}
.container h3 {
  margin-top: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: #016565;
}
.container p {
  margin-top: 10px;
  margin-left: 15px;
  text-decoration: none;
  color: #3f2e57;
}
a {
  text-decoration: none;
  color: black;
}
.container:hover {
  transform: scale(1.03);
}
