.searchContainer {
  align-items: center;
  justify-content: start;
  background-position: absolute;
  background-image: url('../../img/merc.jpg');
  background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
  height: 200px;
}

.h2{
  
margin: auto;
margin-top: 20px;
  color: aliceblue;
  font-size: 50px;
  text-shadow: -3px 2px 8px rgba(0, 0, 0, 0.75);
  text-align: center;
}
 .search{
  align-items: center;
 }
