.searchContainer {
  align-items: center;
  justify-content: start;
  background-position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.582)),
    url("../../img/merc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.h2 {
  color: aliceblue;
  font-size: 50px;
  text-shadow: -3px 2px 8px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.search {
  align-items: center;
}

.containerCarsForSale {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 10px;
}
.divContainer {
  background-color: rgba(246, 251, 251, 0.966);
}

.noCarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noCarsMessage {
  font-size: 30px;
  color: black;
}

.image {
  width: 300px;
  height: 300px;
}
