.container_NavBar {
 /* margin-top: 10px; */
 height: 80px;
 width: 100%;
 display: flex;
 /* margin-bottom: 10px; */
 align-items: center;
 background-color: #cfffff6e;
}

.container_Logo img {
  width: 220px;
  margin-right: 80px;
  margin-left: 100px;
}
.thinksContainer {
  font-size: 30px;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.thinksContainer a {
  margin: 80px;
}
.thinksContainer button {
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  display: flex;
  cursor: pointer;
  /* text-shadow: -0px 3px 2px rgba(0, 0, 0, 0.262); */
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

.thinksContainer button:hover {
  /* box-shadow: 0px 0px 10px #69ffc68d; */
  text-shadow: -0px 4px 3px #003d3d4c;
  border-radius: 5px;
  backface-visibility: hidden;
}
.userMenuContainer {
  margin-right: 80px;
  margin-left: 100px;
  position: absolute;
  right: 0;
  top: 1.5em;
}

.userMenuImg {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  top: -1em;
  right: 1.5em;
}

.dropdownMenu {
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 200px;
  background-color: #ffffff6d;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdownMenu a{
  margin: 0;
}

.shopping{
width: 40px;
height: auto;
display: flex;
position: relative;
}

.cart-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
}

.cart-dropdown {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1d1d91;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdownMenu button {
  color: #ffffff;
  display: block;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: transparent; */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
  text-shadow: -0px 4px 3px #003d3d4c;
}

.dropdownMenu button:hover {
  background-color: #008f8f;
}

/* .dropdownMenu button:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdownMenu button:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
} */
