.container_NavBar {
  /* margin-top: 10px; */
  height: 80px;
  width: 100%;

  /* margin-top: 10px; */
  height: 80px;
  width: 100%;
  display: flex;
  /* margin-bottom: 10px; */
  align-items: center;
  background-color: #d8ebef;
}

.container_Logo img {
  width: 220px;
  margin-right: 80px;
  margin-left: 100px;
}
.thinksContainer {
  font-size: 30px;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.thinksContainer a {
  margin: 80px;
}
.thinksContainer button {
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  display: flex;
  /* margin-bottom: 10px; */
  align-items: center;

  background-color: #cfffff6e;
}

.container_Logo img {
  width: 220px;
  margin-right: 80px;
  margin-left: 100px;
}
.thinksContainer {
  font-size: 30px;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.thinksContainer a {
  margin: 80px;
}
.thinksContainer button {
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  display: flex;
  cursor: pointer;
  /* text-shadow: -0px 3px 2px rgba(0, 0, 0, 0.262); */
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

.thinksContainer button:hover {
  /* box-shadow: 0px 0px 10px #69ffc68d; */
  text-shadow: -0px 4px 3px #003d3d4c;
  border-radius: 5px;
  backface-visibility: hidden;
}
.userMenuContainer {
  margin-right: 80px;
  margin-left: 100px;
  position: absolute;
  right: 0;
  top: 1.5em;
}

.userMenuImg {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  top: -1em;
  right: 1.5em;
  border-radius: 5rem;
}

.dropdownMenu {
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 200px;
  background-color: #ffffff6d;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdownMenu a {
  margin: 0;
}

.shopping {
  width: 40px;
  height: auto;
  display: flex;
  position: relative;
}

.cart-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 25px;
  margin-left: 5px;
  color: #ffffff;
}
.cart-total {
  font-size: 25px;
  margin-top: 11%;
  margin-left: 5px;
  color: #ffffff;
}

.goToCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goToCart button {
  font-weight: normal;
  background-color: #2497976e;
}

.goToCart button {
  font-size: 25px;
  margin-left: 5px;
  color: #fdfdfd;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid #fdfdfd;
  border-radius: 10px;
}

.cart-dropdown {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  min-height: 50px;
  overflow-y: auto;
}
.cart-item {
  padding: 10px;
  margin-bottom: 10px;
}

.cart-font {
  padding: 20%;
  margin: 0;
}
.dropdownMenu button {
  color: #ffffff;
  display: block;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
  text-shadow: -0px 4px 3px #003d3d4c;
}

.dropdownMenu button:hover {
  background-color: #008f8f;
}

.dropdownMenu {
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 200px;
  background-color: #424141f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdownMenu a {
  margin: 0;
}

.cart-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
}

.cart-dropdown {
  position: absolute;
  width: 500px;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1d1d91;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdownMenu button {
  color: #016565;
  display: block;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: transparent; */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
}

.dropdownMenu button:hover {
  background-color: #008f8f;
  color: #d8ebef;
}

/* .dropdownMenu button:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdownMenu button:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
} */

/* Media Queries */

/* Rango: 0px a 359px */
@media (max-width: 359px) {
  .shopping {
    width: 25px;
  }
  .userMenuContainer {
    right: -320%;
  }
  .dropdownMenu {
    align-items: center;
    position: absolute;
    right: 100px;
    z-index: 1;
    width: 200px;
    background-color: #d8ebef;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 200px;
  }
  .thinksContainer {
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .thinksContainer a {
    margin: 40px;
  }
  .container section {
    height: 120%;
  }

  .container_NavBar {
    height: 80px;
  }
}

/* Rango: 360px a 719px */
@media (min-width: 360px) and (max-width: 719px) {
  .shopping {
    width: 25px;
  }
  .userMenuContainer {
    right: -240%;
  }
  .dropdownMenu {
    align-items: center;
    position: absolute;

    z-index: 1;
    width: 200px;
    background-color: #d8ebef;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    max-height: 200px;
  }
  .thinksContainer {
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-left: 50px;
  }
  .userMenuContainer {
    margin-left: 30px;
  }
  .thinksContainer a {
    margin: 30px;
  }
  .container section {
    height: 120%;
  }

  .container_NavBar {
    height: 80px;
  }
}

/* Rango: 720px a 999px */
@media (min-width: 720px) and (max-width: 999px) {
  .shopping {
    width: 25px;
  }
  .userMenuContainer {
    right: -75%;
  }
  .dropdownMenu {
    align-items: center;
    position: absolute;

    z-index: 1;
    width: 200px;
    background-color: #d8ebef;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    max-height: 200px;
  }
  .thinksContainer {
    font-size: 22px;
    flex-direction: row;
    align-items: center;
  }
  .userMenuContainer {
    margin-left: 30px;
  }
  .thinksContainer a {
    margin: 38px;
  }
  .container section {
    height: 120%;
  }

  .container_NavBar {
    height: 80px;
  }
}

/* Rango: 1000px a 1366px */
@media (min-width: 1000px) and (max-width: 1366px) {
  .shopping {
    width: 25px;
    margin-left: 100px;
  }
  .userMenuContainer {
    right: 0%;
  }
  .dropdownMenu {
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 200px;
    background-color: #d8ebef;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    max-height: 200px;
  }
  .thinksContainer {
    font-size: 20px;
    flex-direction: row;
    align-items: center;
  }
  .userMenuContainer {
    margin-left: 30px;
  }
  .userMenuContainer {
    margin-left: 30px;
    margin-bottom: 16px;
  }
  .thinksContainer a {
    margin: 15px;
  }
}

/* Rango: 1367px a 1440px */
@media (min-width: 1367px) and (max-width: 1440px) {
  .userMenuContainer {
    right: -50px;
  }

  .dropdownMenu {
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 200px;
    background-color: #d8ebef;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    max-height: 200px;
  }
  .thinksContainer {
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
  }
  .userMenuContainer {
    margin-left: 30px;
  }
  .userMenuContainer {
    margin-left: 30px;
    margin-bottom: 16px;
  }
  .thinksContainer a {
    margin: 40px;
  }
}
