.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container2 {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

.container2 h1 {
  font-size: 25px;
  text-align: center;
  color: #000000;
}
.form{
  width: 900px;
  height: 400px;
}
.botonnn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.container2 button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  width: 50%;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container2 button:disabled {
  background-color: #01656588;
  cursor: not-allowed;
}

.container2 p.signInLink {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.container2 p.signInLink a {
  color: #007bff;
  text-decoration: none;
}

.container2 p.errmsg {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

.container2 p.offscreen {
  position: absolute;
  left: -9999px;
}

form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 600px;
  height: 200px;
  color: #000000;
  align-items: center;
}

form input {
  width: 150px;
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 2px;
  box-sizing: border-box;
  color: #000000;
}

form label {
  font-size: 14px;
}
form input:focus {
  decoration: none;
}
.formcito {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.formcito2 {
  width: 250px;
  height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.inputContainerName {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.inputContainerName input{
  width: 250px;
  padding: 15px;
}
.inputContainerName label{
  width: 150px;
  text-align: center;
  font-weight: bold;
}
.formcito3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
