.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(137, 192, 209, 0.276);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 300px;
  height: 500px;
}
.h1 {
  font-weight: bold;
}
.image {
  width: 220px;
  height: 150px;
  margin-right: 50px;
  border: none;
  border-radius: 10px;
}

.p {
  font-weight: bold;
}

.button {
  width: 130px;
  height: 50px;
  left: 86%;
  margin-top: 70px;
  background-color: #007777;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
}

.Link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.likeImg {
  width: 45px;
  height: 45px;
}
