.container1 {
  align-items: center;
  text-align: center;
  background-color: rgba(137, 192, 209, 0.276);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 350px;
  height: 500px;
}
.h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: #2b8585;
  font-size: 20px;
  padding-bottom: 10px;
}
.image {
  width: 325px;
  height: 250px;
  border: none;
  border-radius: 10px;
}
.iconsContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

.p {
  font-weight: bold;
}

.Link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.likeImg {
  width: 25px;
  height: 25px;
}

.cart {
  width: 25px;
  height: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.containerDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}